body,section,div{margin:0;padding:0}
body{
    font:12px/1.5 Microsoft YaHei, SimSun, tahoma, Arial, sans-serif;
}
.canvas-wraper{
    background: url(../../images/flappy_images/body-bg.png) repeat-x 0 bottom #71c5cf;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
    padding-bottom: 35px;
    position: relative;
}

.canvas-wraper .game-score{
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: 2;
}
.canvas-wraper .game-score em{
    float: left;
    display: inline;
    background: #72ac2f;
    padding: 0 10px;
    font-size: 18px;
    color: #fafafa;
    font-style: normal;
    border-radius: 2px;
    margin-right: 10px;
    height: 24px;
    line-height: 24px;
}
.canvas-wraper .game-score strong{
    float: left;
    display: inline;
    background: #DE4C4C;
    color: #fafafa;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 2px;
    height: 24px;
    line-height: 24px;
    font-family: Arial;
    font-weight: 400;
}
.canvas-wraper .mask{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fafafa;
    opacity: 0.5;
    z-index: 1;
}
.canvas-wraper .tip{
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -55px;
    left: 50%;
    margin-left: -75px;
    z-index: 2;
    width: 145px;
    height: 40px;
    line-height: 40px;
    background: #DE4C4C;
    color: #fafafa;
    font-size: 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}
.canvas-wraper .tip:hover{
    color: #fafafa;
    text-decoration: none;
}